@page "/Documentation"
<h1>Dokumentace</h1>
<h2>Základní princip hry</h2>
<p>
    Každý bomber funguje jako samostatný http server. V každé iteraci hry je na http server bombera (dále jen bombera) poslán POST request na adresu /move.
    V POST datech je stav hry serializovaný do JSONu. Odpověď bombera je směr (GoUp, GoDown, GoLeft, GoRight), kterým se má v dané iteraci vydat a nebo PutBomb, pokud chce položit bombu, či None pokud záměrně nechce provést žádnou akci.
    Před začátkem hry, je na bombera poslán POST request na adresu /init s počátečním stavem hry. Bomber odpovídá pouze stavovým kódem 200.
    Cílem hry je ve stanoveném čase (počtu iterací) nasbírat co největší skóre. Skóre se získává odpálením min. Bomber získává skóre za každou minu, kterou odpálí. Skóre se zvyšuje o 1 za každou odpálenou minu.
</p>

<h2>Základní pravidla/vlastnosti hry</h2>
<pre>
    1.	Hráč odpaluje miny a tím získává body
        a. Pokud hráč stoupne na minu, tak mina exploduje a hráč zemře
        b. Miny lze odpálit pomocí bomby, kterou hráč položí
        c. Pokud hráč odpálí minu, dostane bod
        d. Mina vytvoří oheň v okruhu 3x3
        e. Počet min na hrací ploše je konstantní, jakmile se jedna odpálí, tak se náhodně objeví nová
        f. Pokud v jedné iteraci dva hráči odpálí minu, bod dostane hráč jehož response přijde jako první
        
    2.	Dva hráči nemohou být na jednom políčku
        a. Pokud se v jedné iteraci dva hráči pokusí přejít na stejné pole, tak pouze hráč jehož response přijde jako první na toto pole přejde, druhý hráč zůstane stát

    3.	Hráč klade bombu na místo, kde stojí
    4.	Nelze položit bombu na místo, kde už nějaká bomba je
    5.	Hráč může stoupnout na bombu, tj. bomba není překážka
    6.	Při pokládání bomby lze nastavit časovač na 2 nebo 3 iterace
    7.	Exploze bomby vytvoří oheň jehož paprsky míří horizontálně a vertikálně přes celou hrací plochu nehledě na překážkách (jiné bomby, hráči, miny). 
        a. Oheň hoří několik iterací, ale pouze první 3 iterace jsou smrtelné.

    8.	Pokud se oheň dotkne hráče, tak hráč umře
    9.	Pokud se oheň dotkne miny, tak mina exploduje
    10.	Pokud se oheň dotkne bomby, bomba exploduje
    11.	Pokud udělá hráč neplatný pohyb (akci), tak se pohyb neuskuteční

</pre>


<h2>Hrací plocha</h2>
<p>
    Pozice na hrací ploše je určena celočíselnými souřadnicemi x a y. Každé pozici odpovídá jeden čtvereček. Pozice (0,0) je v levém spodním rohu.
    <br />
    <img src="hraci-plocha.png"/>
</p>

<h2>Ovládání hry</h2>
<p>
    <img src="ovladaci-panel.png" />
    <ul>
        <li><em>Spustit</em> - spustí hru.</li>
        <li><em>Zastavit</em> - zastaví hru.</li>
        <li><em>Předchozí krok</em> - umožní zobrazit stav hry v předchozích iteracích.</li>
        <li><em>Následující krok</em> - provede další iteraci anebo se posune v historii směrem vpřed.</li>
        <li><em>Opakovat request</em> - znovu odešle na všechny bombery request se stavem hry v aktuálně zobrazené iteraci. Odpověď bombera je však zahozena. Určeno k ladění bomberů.</li>
        <li><em>Nová hra</em> - ukončí aktuální hru.</li>
    </ul>
</p>

<h2>Struktura objektu popisující stav hry</h2>
<ul><em>root (kořenový objekt)</em>
    <ul>
        <li>
            <em>board (objekt)</em> - Informace o hrací ploše.
            <ul>
                <li><em>width (celé číslo)</em> - Šířka hrací plochy (počet kostiček).</li>
                <li><em>height (celé číslo)</em> - Výška hrací plochy (počet kostiček).</li>
                <li><em>mines (pole objektů typu Coordinate)</em> - Informace o políčkách s minou. V každém prvku pole je souřadnice jedné miny. Pokud je na hrací ploše 5 min, bude zde 5 prvků.</li>
                <li><em>fires (pole objektů typu Fire)</em> - Informace o políčkách s ohněm. V každém prvku pole je souřadnice jednoho ohně a jeho intenzity. Pokud je na hrací ploše 5 ohňů, bude zde 5 prvků.</li>
                <li><em>bombers (pole objektů typu Bomber)</em> - Informace o všech bomberech na hrací ploše. Jsou zde i bombeři, kteří již zemřeli. Je zde i bomber aktuálního hráče.</li>
            </ul>
        </li>
        <li><em>you (objekt typu Bomber)</em> - Informace o bomberovi hráče.</li>
        <li><em>iteration (celé číslo)</em> - Aktuální iterace hry.</li>
    </ul>
</ul>

<b>Struktura objektu Coordinate</b>
<ul>
    <li><em>x (celé číslo)</em> - Pozice x. Počítáno od 0.</li>
    <li><em>y (celé číslo)</em> - Pozice y. Počítáno od 0.</li>
</ul>

<b>Struktura objektu Fire</b>
<ul>
    <li><em>Dědí z Coordinate</em></li>
    <li><em>intensity (celé číslo)</em> - Intenzita ohně (počet iterací během kterých zabije bombera).</li>
</ul>

<b>Struktura objektu Bomber</b>
<ul>
    <li><em>id (řetězec)</em> - Jedinečný identifikátor bombera v rámci hry.</li>
    <li><em>name (řetězec)</em> - Název hry.</li>
    <li><em>url (řetězec)</em> - Bázová url adresa http serveru bombera.</li>
    <li><em>position (objekt typu Coordinate)</em> - Pozice bombera.</li>
    <li><em>alive (boolean)</em> - Zda je bomber naživu.</li>
    <li><em>color (řetězec)</em> - Barva bombera v html formátu.</li>
    <li><em>latency (celé číslo)</em> - Průměrná latence bombera. Pokud latence překročí určitou mez bude bomber zabit.</li>
    <li><em>deathCause (řetězec)</em> - Příčina smrti bombera.</li>
    <li><em>deathIteration (nullable celé číslo)</em> - Iterace, ve které bomber zemřel.</li>
    <li><em>score (celé číslo)</em> - Aktuální skóre bombera.</li>
</ul>

<h2>Ukázka JSON požadavku</h2>
<pre>
<code>
{
  "board": {
    "height": 11,
    "width": 11,
    "mines": [
      {
        "x": 3,
        "y": 5
      },
      {
        "x": 4,
        "y": 5
      },
      {
        "x": 3,
        "y": 1
      }
    ],
    "fire": [
      {
        "position": {
          "x": 8,
          "y": 4
        },
        "bomberId": "3a851fc9-599b-4081-aeae-a6c65a7a89fa",
        "intensity": 3
      },
      {
        "position": {
          "x": 9,
          "y": 4
        },
        "bomberId": "3a851fc9-599b-4081-aeae-a6c65a7a89fa",
        "intensity": 3
      },
      {
        "position": {
          "x": 8,
          "y": 3
        },
        "bomberId": "3a851fc9-599b-4081-aeae-a6c65a7a89fa",
        "intensity": 3
      },
    ],
    "bombs": [],
    "bombers": [
      {
        "id": "3a851fc9-599b-4081-aeae-a6c65a7a89fa",
        "name": "Ukázkový bomber #1",
        "url": "http://localhost:6001/bomber/1",
        "position": {
          "x": 9,
          "y": 3
        },
        "score": 1,
        "alive": false,
        "color": "#ff0000",
        "latency": 670,
        "deathCause": "Zabit explozí",
        "deathIteration": 6
      },
      {
        "id": "166cfdd7-f898-41ba-ae87-9f802ba5a9c9",
        "name": "Ukázkový bomber #2",
        "url": "http://localhost:6001/bomber/0",
        "position": {
          "x": 10,
          "y": 8
        },
        "score": 0,
        "alive": false,
        "color": "#00ff00",
        "latency": 670,
        "deathCause": "Zabit explozí",
        "deathIteration": 6
      }
    ],
    "maximumFireIntensity": 3
  },
  "you": {
    "id": "3a851fc9-599b-4081-aeae-a6c65a7a89fa",
    "name": "Ukázkový bomber #1",
    "url": "http://localhost:6001/bomber/1",
    "position": {
      "x": 9,
      "y": 3
    },
    "score": 1,
    "alive": false,
    "color": "#ff0000",
    "latency": 670,
    "deathCause": "Zabit explozí",
    "deathIteration": 6
  },
  "iteration": 6
}
</code>
</pre>


<h2>Ukázka JSON odpovědi</h2>
<pre>
<code>
{
  "bomberAction": "PutBomb",
  "argument": 2
}
</code>
<code>
{
  "bomberAction": "GoDown",
  "argument": null
}
</code>
</pre>

<h2>Plán a pravidla soutěže</h2>
<h3>1. kolo</h3>
<ul>
    <li>Každý hráč bude hrát samostatně na jedné hrací ploše.</li>
    <li>Každý hráč bude hrát dvě hry.</li>
    <li>Započítá se vyšší skóre s těchto dvou her.</li>
</ul>


<h3>2. kolo</h3>
<ul>
    <li>Do druhého kola postoupí 8 hráčů s nejvyšším skóre z prvního kola.</li>
    <li>Budou se hrát klasické vyřazovací zápasy (pavouk).</li>
    <li>Čtvrtfinále - 1 vítězná hra.</li>
    <li>Semifinále - 1 vítězná hra.</li>
    <li>Malé finále (o bronz) - 2 vítězné hry.</li>
    <li>Velké finále (o zlato) - 2 vítězné hry.</li>
</ul>
