@page "/Documentation"
<h1>Dokumentace</h1>
<h2>Základní princip hry</h2>
<p>
    Každý bomber funguje jako samostatný http server. V každé iteraci hry je na http server bombera (dále jen bombera) poslán POST request na adresu /move.
    V POST datech je stav hry serializovaný do JSONu. Odpověď bombara je směr (GoUp, GoDown, GoLeft, GoRight), kterým se má v dané iteraci vydat a nebo PutBomb, pokud chce položit bombu, či None pokud záměrně nechce provést žádnou akci.
    Před začátkem hry, je na bombera poslán POST request na adresu /init s počátečním stavem hry. Bomber odpovídá pouze stavovým kódem 200.
    Cílem hry je ve stanoveném čase (počtu iterací) nasbírat co největší skóre. Skóre se získává odpálením min. Bomber získává skóre za každou minu, kterou odpálí. Skóre se zvyšuje o 1 za každou odpálenou minu.
</p>

<h2>Základní pravidla/vlastnosti hry</h2>
<pre>
    1.	Nebudou překážky
    2.	Místo jídla budou miny
        a.	Pokud stoupnu na minu, tak exploduje a hráč zemře
        b.	Miny půjdou odpálit pomocí bomb
        c.	Pokud odpálím minu, dostanu bod
        d.	Mina vytvoří oheň v okruhu 3x3
        e.	Počet min na hrací ploše bude konstantní, jakmile se jedna odpálí, tak se náhodně objeví nová
        f.	(Miny se budou pokládat náhodně tak, aby vzdálenost dvou min byla alespoň 2 políčka, tzn. jedna kostička mezera) – uvidíme jestli bude potřeba
    3.	Dva hráči nemohou být na jednom políčku
    4.	Hráč klade bombu na místo, kde stojí
    5.	Nelze položit bombu na místo, kde už nějaká bomba je
    6.	Mohu stoupnout na bombu, tj. bomba není překážka
    7.	Mohu nastavit časovač bomby na 2 a 3 iterace
    8.	Exploze bomby vytvoří oheň jehož paprsky míří horizontálně a vertikálně přes celou hrací plochu nehledě na překážkách (jiné bomby, hráči, miny).   Oheň hoří 3 iterace.
    9.	Pokud se oheň dotkne hráče, tak hráč umře
    10.	Pokud se oheň dotkne miny, tak mina exploduje
    11.	Pokud se oheň dotkne bomby, bomba exploduje
    12.	Pokud udělá hráč neplatný pohyb (akci), tak se pohyb neuskuteční

</pre>



<h2>Hrací plocha</h2>
<p>
    Pozice na hrací ploše je určena celočíselnými souřadnicemi x a y. Každé pozici odpovídá jeden čtvereček. Pozice (0,0) je v levém spodním rohu.
    <br />
    <img src="hraci-plocha.png"/>
</p>

<h2>Ovládání hry</h2>
<p>
    <img src="ovladaci-panel.png" />
    <ul>
        <li><em>Spustit</em> - spustí hru.</li>
        <li><em>Zastavit</em> - zastaví hru.</li>
        <li><em>Předchozí krok</em> - umožní zobrazit stav hry v předchozích iteracích.</li>
        <li><em>Následující krok</em> - provede další iteraci anebo se posune v historii směrem vpřed.</li>
        <li><em>Opakovat request</em> - znovu odešle na všechny bombery request se stavem hry v aktuálně zobrazené iteraci. Odpověď bombera je však zahozena. Určeno k ladění bomberů.</li>
        <li><em>Nová hra</em> - ukončí aktuální hru.</li>
    </ul>
</p>

<h2>Struktura objektu popisující stav hry</h2>
<ul><em>root (kořenový objekt)</em>
    <ul>
        <li>
            <em>board (objekt)</em> - Informace o hrací ploše.
            <ul>
                <li><em>width (celé číslo)</em> - Šířka hrací plochy (počet kostiček).</li>
                <li><em>height (celé číslo)</em> - Výška hrací plochy (počet kostiček).</li>
                <li><em>mines (pole objektů typu Coordinate)</em> - Informace o políčkách s minou. V každém prvku pole je souřadnice jedné miny. Pokud je na hrací ploše 5 min, bude zde 5 prvků.</li>
                <li><em>fires (pole objektů typu Fire)</em> - Informace o políčkách s ohněm. V každém prvku pole je souřadnice jednoho ohně a jeho intenzity. Pokud je na hrací ploše 5 ohňů, bude zde 5 prvků.</li>
                <li><em>bombers (pole objektů typu Bomber)</em> - Informace o všech bomberech na hrací ploše. Jsou zde i bombeři, kteří již zemřeli. Je zde i bomber aktuálního hráče.</li>
            </ul>
        </li>
        <li><em>you (objekt typu Bomber)</em> - Informace o bomberovi hráče.</li>
        <li><em>iteration (celé číslo)</em> - Aktuální iterace hry.</li>
    </ul>
</ul>

<b>Struktura objektu Coordinate</b>
<ul>
    <li><em>x (celé číslo)</em> - Pozice x. Počítáno od 0.</li>
    <li><em>y (celé číslo)</em> - Pozice y. Počítáno od 0.</li>
</ul>

<b>Struktura objektu Fire</b>
<ul>
    <li><em>Dědí z Coordinate</em></li>
    <li><em>intensity (celé číslo)</em> - Intenzita ohně (počet iterací během kterých zabije bombera).</li>
</ul>

<b>Struktura objektu Bomber</b>
<ul>
    <li><em>id (řetězec)</em> - Jedinečný identifikátor bombera v rámci hry.</li>
    <li><em>name (řetězec)</em> - Název hry.</li>
    <li><em>url (řetězec)</em> - Bázová url adresa http serveru bombera.</li>
    <li><em>position (objekt typu Coordinate)</em> - Pozice bombera.</li>
    <li><em>alive (boolean)</em> - Zda je bomber naživu.</li>
    <li><em>color (řetězec)</em> - Barva bombera v html formátu.</li>
    <li><em>latency (celé číslo)</em> - Průměrná latence bombera. Pokud latence překročí určitou mez bude bomber zabit.</li>
    <li><em>deathCause (řetězec)</em> - Příčina smrti bombera.</li>
    <li><em>deathIteration (nullable celé číslo)</em> - Iterace, ve které bomber zemřel.</li>
    <li><em>score (celé číslo)</em> - Aktuální skóre bombera.</li>
</ul>

<h2>Ukázka JSON požadavku</h2>
<pre>
<code>
{
  "board": {
    "height": 11,
    "width": 11,
    "mines": [
      {
        "x": 8,
        "y": 10
      },
      {
        "x": 5,
        "y": 2
      },
      {
        "x": 3,
        "y": 1
      }
    ],
    "fire": [],
    "bombs": [],
    "bombers": [
      {
        "id": "3d25ffd9-7adf-4e3e-be58-ad72f7da9af0",
        "name": "Ukázkový bomber #1",
        "url": "http://localhost:6001/bomber/1",
        "position": {
          "x": 5,
          "y": 9
        },
        "score": 0,
        "alive": true,
        "color": "#ff0000",
        "latency": 1940,
        "deathCause": null,
        "deathIteration": null
      }
    ],
    "maximumFireIntensity": 3
  },
  "you": {
    "id": "3d25ffd9-7adf-4e3e-be58-ad72f7da9af0",
    "name": "Ukázkový bomber #1",
    "url": "http://localhost:6001/bomber/1",
    "position": {
      "x": 5,
      "y": 9
    },
    "score": 0,
    "alive": true,
    "color": "#ff0000",
    "latency": 1940,
    "deathCause": null,
    "deathIteration": null
  },
  "iteration": 3
}
</code>
</pre>


<h2>Ukázka JSON odpovědi</h2>
<pre>
<code>
{
  "bomberAction": "PutBomb",
  "argument": 2
}
</code>
<code>
{
  "bomberAction": "GoDown",
  "argument": null
}
</code>
</pre>